@import "tailwindcss";
@theme {
  --font-display: "Satoshi", "sans-serif";
 
  --color-primary: #1ABA1A;
  --color-secundary: #EBEEF6;
  --color-tertiary: #666666;
 
}
body{
  background: #e2e4eb;
}
/* price range input spinner hiden for all browser */ 
@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
